/* SECTION & INNER */
.section {
    position: relative;
}

/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.section .inner {
    max-width: 1080px;
    margin: 60px auto;
    box-sizing: border-box;
    position: relative;
}


/* INTRODUCTION */
.section .inner .introduction {
    box-shadow:  2px 2px 2px 2px rgba(155,155,155);
    color: rgba(255,255,255);
}
.section .inner .introduction li {
    padding: 34px 44px;
    height: 900px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    width: 50%; 
}
.section .inner .introduction li:nth-child(1) {
    background-color: rgba(50,135,220);
}

.section .inner .introduction li:nth-child(2) {
    background-color: rgba(100,165,250);
}
.section .inner .introduction li h3 {
    width: 180px;
    padding-bottom: 10px;
    border-bottom: rgba(200,229,230) solid 2px;
    transition: 1.5s;
    font-size: 38px;
    font-weight: 550;
    margin-bottom: 10px;
    margin-top: 40px;
}
.section .inner .introduction li p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

/* PORTFOLIO */
.section .inner .portfolio {
    background-color: black;
    height: 800px;
    transition: 1.5s;
}


/* PROFILE */
.section .inner .profile {
    background-color: rgb(187, 240, 192);
    height: 800px;
    transition: 1.5s;
}